<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.free.darken33.games.drkdarts" version="1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Darts Contest</name>
    <description>
        A darts game for smartphone.
    </description>
    <author email="darken33@free.fr" href="http://darken33.net/wp/index.php/2015/07/01/darts-contest-a-darts-game-for-smartphone/">
        Philippe Bousquet
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~5.1.1" />
    <engine name="firefoxos" spec="~3.6.3" />
</widget>
